@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

/* font-family: 'PT Sans', sans-serif; */

html {
    height: 100vh;
    font-family: 'PT Sans'
    /* background: radial-gradient(circle at 900px 250px,
    rgb(243, 237, 176) 2%, rgb(66, 63, 99) 70%) */
}

body {
    padding:0;
    margin:0;
}
.header-container {
    /* border: red solid 3px; */
    display: flex;
    justify-content: center;
}

.controls-container {
    display: flex;
    justify-content: space-around;

    
}

.middle-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.mixer-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width:20%;
}

.volume-slider {
    display: flex;
    /* text-align: center; */
    justify-content: space-around;
    
}

.volume-slider label {
    text-align: center;
}



.drumkit-container {
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    
    
}
.drum {
    width: 400px;
}

#ride {
    height:20%;
    /* border: purple solid 3px; */
    transform: translate(70px, -30px);
    z-index: -1;
}

#tom {
    /* border:aqua solid 3px; */
    height: 20%;
}



#kick1 {
    direction: rtl;
}

#kick1, #kick2 {
    transform: translate(-50px, 100px);
}

#snare {
    /* border:crimson solid 3px; */
    height: 20%;
    transform: translate(-115px, -10px);
    z-index: -1;
}

#hi-hat {
    /* border:darkgreen solid 3px; */
    height: 20%;
    transform: translate(-185px, -35px);
    z-index: -2;
}

/*write a transform:translate rule for the drum-image class*/
.drum-img {
    display: flex;
    flex-grow:1;
    
}

#ride-img2 {
    transform: translate(4px)
}

#hi-hat-img2 {
    transform: translate(4px);
}





@keyframes drum-hit {
    100% {
        transform: translate(0px,5px);
    }
}

.footer {
    margin-top: 5%;
    justify-content: center;
    text-align: center;
    color: grey;
}



